html {
    height: 100%;
}

body {
    background-color:#343399;
    height: 100%;
    margin: 0;
}

#main {
    background-color: white;
    width: 50%;
    min-height: 100%;
    margin: auto;
}

#main > div {
    padding: 0 10px;
}

#title {
    font-size: x-large;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid #343399;
}

#desc {
    font-size: small;
}

#output {
    font-size: small;
}

#output td {
    min-width: 80px;
}

#output td:nth-child(2) {
    text-align: right;
}

#output td:nth-child(3) {
    text-align: center;
}

#footer {
    border-top: 1px solid #343399;
    position: sticky;
    top: 100vh;
}

#dropzone {
    color: gray;
    font-size: large;
    cursor: pointer;
    border-color: white;
    border-radius: 5px;
    border-style: dashed;

    position: absolute;
    left: 26%;
    top: 20%;
    width: 48%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropzone:hover, #dropzone.dropready {
    border-color: skyblue;
}

#map {
    position: absolute;
    left: 45%;
    top: 45%;
    width: 10%;
    height: 10%;

    display: none;

    align-items: center;
    justify-content: center;
}

#map.open {

    left: 5%;
    top: 0%;
    width: 90%;
    height: 100%;

    background-color: white;
    display: flex;
}

#close {
    display: none;
    position: absolute;
    right: 5%;
    top: 0;

    cursor: pointer;
}

#progress {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#progress > div {
    background-color: white;
}
